@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Manrope";
}
@keyframes underline {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .menu-item {
    position: relative;
    overflow: hidden;
  }

  .menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: coral;
    transform: translateX(100%);
    animation: underline 7s ease infinite forwards;
  }
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
